@using Roshalonline.Data.Models
@model List<News>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Hello Roshalonline</h3>
        
        @*@foreach(var n in Model)
        {
            <p>@n.Header</p>
            <p>@n.CreateDate</p>
            <p>@n.Category</p>
            <p>@n.AuthorID</p>
            <p>@n.PathToIcon</p>
            
            <p>@n.Body</p>
            <p>@n.ViewsCount</p>
        }*@
    </div>
</body>
</html>
